.Projects {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.Projects-layout {
    display: flex;
    flex-direction: column;
    background-color: #0353A4;
}

.Projects-layout h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
}

.Projects-list {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    margin: 1rem;

}

.tag-container {
    display: inline-flex;
    gap: 4px;

}

.Website-tag {
    font-size: 12px;
    background-color: #33415C;
    padding: 3px 6px;
    display: inline-block;
    
}

.WebApp-tag {
    font-size: 12px;
    background-color: #5C677D;
    padding: 3px 6px;
    display: inline-block;

}

.Project-tag {
    font-size: 12px;
    background-color: #001845;
    padding: 3px 6px;
    display: inline-block;

}

.Project-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Project-description ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Projects-list i {
    font-size: 22px;
    color: #979DAC;
    transition: color 0.3s ease;
}

.Projects-list i:hover {
    color: #001233;
}

@media (max-width: 1024px) {
    .Projects {
        width: 80%;
        padding: 0px;
        padding-top: 10px
    }

    .Projects-layout {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .Projects {
        width: 90%;
        padding: 0rem;
        padding-top: 5px;
        padding-bottom: 0px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .Project-layout {
        padding: 1rem;
        align-items: center;
        margin: 0 auto;
    }

    .Project-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px;
        margin-bottom: -1rem;
    }

    .Project-title h3 {
        margin-bottom: 0.5rem;
    }

    .Project-list > * {
        width: 100%;
        max-width: 100%;
    }

    .Projects-list {
        margin: 0.5rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Projects-list dt,
    .Projects-list dd {
        width: 100%;
        box-sizing: border-box;
    }

    .Projects-list i {
        font-size: 35px;
        color: #979DAC;
        transition: color 0.3s ease;
        display: block;
        line-height: 1;
    }

    .Projects-list a {
        text-decoration: none;
    }

    .tag-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .Project-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
        box-sizing: border-box;
        margin: -10px auto;
        padding: 5px
    }

    .Project-description p {
        text-align: center;
        max-width: 100%;
        word-wrap: break-word;
    }

    .Project-description ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        padding: 0;
        margin: 0.5rem 0;
        list-style: none;
        gap: 4px;
    }

    .Project-description ul li {
        display: inline-block;
        margin: 0px;
    }

    .Project-description a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
    }
}