.Skills {
    display: flex;
    flex-direction: column;
    background-color: #0353A4;
    padding-left: 0px;

}

.Skills h2 {
    display: flex;
    justify-content: center;
}

.Skills li {
    padding: 20px;
}