.PersonalInfo {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.PersonalInfo-layout {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
}

.PersonalInfo-img {
    max-width: 350px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.PersonalInfo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.PersonalInfo-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Top-box h1 {
    font-size: 40px;
    margin: 0;
}

.Top-box h2 {
    margin: 0;
}


.Socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.Socials i {
    color: #0353A4;
    transition: color 0.5s ease;
    font-size: 30px;
    margin-left: 0px;
}

.Socials i:hover{
    color: #979DAC;

}

.Contact {
    height: 75px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #0353A4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.Contact li{
    position: relative;
    padding-left: 25px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.location::before {
    font-family: "Font Awesome 6 Free";
    content: "\f601";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: 900;
}

.email::before {
    font-family: "Font Awesome 6 Free";
    content: "\f0e0";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: 900;
}

@media (max-width: 1024px) {
    .PersonalInfo {
        width: 80%;
        padding: 0px;
        padding-bottom: 10px;
    }
}

@media (max-width: 786px) {
    .PersonalInfo {
        width: 90%;
        padding: 1rem;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .PersonalInfo-layout {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .PersonalInfo-details {
        margin-left: 0;
        align-items: center;
    }

    .Socials {
        justify-content: center;
        margin-left: 0;
    }

    .Contact {
        align-items: center;
       min-width: 250px;
    }

    .Contact li {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 20px;
    }
}

@media (max-width: 320px) {

    .PersonalInfo-img {
        width: 280px;
        height: 280px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
    }

    .PersonalInfo-img img {
        width: 280px;
        height: auto;
    }
}

